<img style="width:400px" src="img/snoop.jpg" alt="SNOOP WATCHIN U POOP." />
<br></br>
<h1>Who we snoopin'?</h1>
<br></br>
<form id="scanform" action="/scan_one" method="post" role="form">
  <div class="form-group">
    <div class="input-group">
      <% if flash[:error] %>
        <input type="text" class="form-control" name="address" placeholder="<%= flash[:error] %>">
      <% else %>
        <input type="text" class="form-control" name="address" placeholder="127.0.0.1/30">
      <% end %>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default" type="button">Snoop!</button>
      </span>
    </div>
  </div>
  <div style="visibility:hidden;" class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="checkbox" checked name="ports[]" value="80"> 80 
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" checked name="ports[]" value="443"> 443 
    </label>
    <label class="btn btn-primary">
      <input type="checkbox" checked name="ports[]" value="8080"> 8080 
    </label>
  </div>
  <br></br>
</form>


